<template>
  <section>
    <Plotly :data="graph_data" 
            :layout="graph_layout" 
            :display-mode-bar="false"
    ></Plotly>
  </section>
</template>

<script>
import { Plotly } from 'vue-plotly';

import config from '../../../config.json';
import generic_tools from '../../generic_tools.js';


export default {
  components: {
    Plotly
  },
  props: [
    'dateArray', 
    'datePredictionsArray', 
    'showErrorMargin',
    'simulationSeparatorStyle',
    'realData',
    'predictionsData',
  ],
  data() {
    return {
      graph_layout: {
        xaxis: {
          title: config['infobox']['one_plot_tab']['x_axis']['name'], 
          showgrid: false, 
          zeroline: false,
        },
        legend: {orientation: 'h', x: 0.95, xanchor: 'right', y: 1.3, yanchor: 'bottom'},
        yaxis: {
          automargin: true, 
          side: 'left', 
          title: {text: config['infobox']['one_plot_tab']['y_axis_1']['name']},
        },
        yaxis2: {
          automargin: true, 
          side: 'right', 
          title: {text: config['infobox']['one_plot_tab']['y_axis_2']['name']},
          overlaying: 'y'
        },
        plot_bgcolor: 'rgba(138, 191, 255, 0.2)',
        ...this.simulationSeparatorStyle,
      },
    }
  },
  computed: {
    graph_data() {
      let data = [];
      const axis = ['y_axis_1', 'y_axis_2']
      const axis_name = ['y1', 'y2']


      for (var i=0; i<=1; i++) {
        if (! config['infobox']['one_plot_tab'][axis[i]]) {
          continue;
        }
        
        config['infobox']['one_plot_tab'][axis[i]]['columns'].forEach(column => {
          // REAL VALUE
          var obj = {
              name: config['real_data']['verbose_mapping'][column['name']],
              yaxis: axis_name[i],
              x: this.dateArray,
              y: this.realData[column['name']],
              mode: 'lines',
              type: 'scatter',
              legendgroup: config['real_data']['verbose_mapping'][column['name']],
              line: { color: generic_tools.build_rgb_code_from_list(column['color'])} 
          }
          data.push(obj);

          // REAL DATA ERROR
          if (this.showErrorMargin && column['error_min']) {
            obj = {
              name: config['real_data']['verbose_mapping'][column['name']],
              yaxis: axis_name[i],
              x: [].concat(
                this.dateArray,
                this.dateArray.slice().reverse()
              ),
              y: [].concat(
                this.realData[column['error_max']],
                this.realData[column['error_min']].slice().reverse()
              ),
              fill: "toself",
              mode: 'lines',
              type: 'scatter',
              fillcolor: generic_tools.build_rgb_code_from_list(column['color'], 0.5),
              line: { color: "transparent" },
              hoverinfo: "skip",
              showlegend: false,
              legendgroup: config['real_data']['verbose_mapping'][column['name']],
            };
            data.push(obj);
          }

          if (column['prediction_column']) {
            // SIMULATION
            obj = {
              name: config['predictions']['verbose_mapping'][column['prediction_column']],
              yaxis: axis_name[i],
              x: this.datePredictionsArray,
              y: this.predictionsData[column['prediction_column']],
              mode: 'lines',
              type: 'scatter',
              line: { dash: 'dashdot', color: generic_tools.build_rgb_code_from_list(column['color']) },
              legendgroup: config['real_data']['verbose_mapping'][column['name']],
            };
            data.push(obj);

            // SIMULATION ERROR
            if (this.showErrorMargin && column['prediction_error_min']) {
            obj = {
              name: config['predictions']['verbose_mapping'][column['prediction_column']],
              yaxis: axis_name[i],
              x: [].concat(
                this.datePredictionsArray,
                this.datePredictionsArray.slice().reverse()
              ),
              y: [].concat(
                this.predictionsData[column['prediction_error_max']],
                this.predictionsData[column['prediction_error_min']].slice().reverse(),
              ),
              fill: "toself",
              mode: 'lines',
              type: 'scatter',
              fillcolor: generic_tools.build_rgb_code_from_list(column['color'], 0.5),
              line: { color: "transparent" },
              hoverinfo: "skip",
              showlegend: false,
              legendgroup: config['real_data']['verbose_mapping'][column['name']],
            };
            data.push(obj);
          }
          }
        });
      }
      return data;
    }
  },
  watch: {
    simulationSeparatorStyle(value) {
      // WorkAround: This is needed in order to trigger the observers on Vue Plotly
      this.graph_layout = {...this.graph_layout, ...value}
      this.rt_layout = {...this.rt_layout, ...value}

    },
  },
}
</script>

<style scoped>
section {
  width: 100%;
  padding: 0;
  margin: 0;
}
</style>
