<template>
  <div id="infobox">
    <title-wrapper mode="withButtons">
      <template v-slot:title>
        {{title}}
      </template>
      <template v-slot:buttons>
        <button-wrapper>

          <!-- SWIPE ONE PLOT TO MULTIPLE -->
          <button @click="togglePlotRepresentation">
            <svg v-if="!singlePlot" xmlns="http://www.w3.org/2000/svg" width="50" height="30" fill="currentColor" class="bi bi-aspect-ratio" viewBox="0 0 16 16"><path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5v-9zM1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/><path d="M2 4.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H3v2.5a.5.5 0 0 1-1 0v-3zm12 7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H13V8.5a.5.5 0 0 1 1 0v3z"/></svg>
            <svg v-else xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16"><path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/></svg>
          </button>
        </button-wrapper>

        <!-- ERROR MARGIN -->
        <button-wrapper>
          <button @click="toggleErrorMarginVisibility">
            <svg v-if="showErrorMargin" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16"><path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/><path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/></svg>
            <svg v-else xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16"><path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/><path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/><path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/></svg>
            {{ errorMarginLabel }}
          </button>
        </button-wrapper>

        <!-- CALENDAR -->
        <button-wrapper>
          <the-calendar
            :min_date="minDate"
            :max_date="predMaxDate"
            :start_date="effectiveStartDate"
            :end_date="effectiveEndDate"
            @change_dates="changeDates"
          >
          </the-calendar>
        </button-wrapper>

      </template>
    </title-wrapper>
    
    <base-card>
      <component
        v-if="predictionsAvailable"
        :is="componentChoice"
        :dateArray="dateArray"
        :datePredictionsArray="datePredictionsArray"
        :simulationSeparatorStyle="simulationSeparatorStyle"
        :showErrorMargin="showErrorMargin"
        :realData="resizedRealData"
        :predictionsData="resizedPredictionsData"
      >
      </component>
      <missing-predictions v-else></missing-predictions>
    </base-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import InfoOnePlot from './InfoOnePlot.vue';
import InfoMultiplePlots from './InfoMultiplePlots.vue';
import ButtonWrapper from '../ui/ButtonWrapper.vue';
import TheCalendar from '../layout/TheCalendar.vue';
import MissingPredictions from '../layout/MissingPredictions.vue';

import GenericTools from '../../generic_tools.js';
import config from '../../../config.json';

export default {
  components: {
    InfoOnePlot,
    InfoMultiplePlots,
    ButtonWrapper,
    TheCalendar,
    MissingPredictions,
  },
  data() {
    return {
      errorMarginLabel: config['infobox']['error_margin_label']['name'],
      singlePlot: true,
      showErrorMargin: true,
      startDate: null,
      endDate: null,
    };
  },
  computed: {
    title() {
      return config['infobox']['title']['label'].replace('{patch_id}', this.patchName)
    },
    componentChoice() {
      return this.singlePlot? 'info-one-plot': 'info-multiple-plots';
    },
    predictionsAvailable() {
      const prediction_column = Object.keys(this.predictionsData)[0]
      return !!this.predictionsData[prediction_column][this.patchId][this.effectiveEndDate];
    },
    effectiveStartDate() {
      return this.startDate || config['infobox']['default_dates']['start_date'];
    },
    effectiveEndDate() {
      return this.endDate || config['infobox']['default_dates']['end_date'];
    },
    simulationEndDate() {
      const example_obj = this.predictionsData[Object.keys(this.predictionsData)[0]]
      const example_array = example_obj[this.patchId][this.effectiveEndDate];
      return GenericTools.sumDaysToDate(
        this.effectiveEndDate,
        example_array.length
      );
    },
    simulationSeparatorStyle() {
      return {
        shapes: [
          { 
            type: 'rect',
            xref: 'x',
            yref: 'paper',
            x0: this.datePredictionsArray[0],
            y0: 0,
            x1: this.datePredictionsArray[this.datePredictionsArray.length - 1],
            y1: 1,
            fillcolor: '#fcf951',
            opacity: 0.2,
            line: {
                width: 0
            }
          },
        ]
      }
    },
    dateArray() {
      return GenericTools.getDates(this.effectiveStartDate, this.simulationEndDate);
    },
    datePredictionsArray() {
      return GenericTools.getDates(this.effectiveEndDate, this.simulationEndDate);
    },
    resizedRealData() {
      var data_object = {}
      Object.keys(this.realData).forEach(
        column => {
          data_object[column] = GenericTools.slice_array(
            this.realData[column][this.patchId],
            this.minDate, 
            this.maxDate, 
            this.effectiveStartDate, 
            this.simulationEndDate, 
          );
        }
      )
      return data_object
    },
    resizedPredictionsData() {
      var data_object = {}
      Object.keys(this.predictionsData).forEach(
        column => {
          data_object[column] = this.predictionsData[column][this.patchId][this.effectiveEndDate];
        }
      )
      return data_object
    },
    ...mapGetters({
      patchName: 'selectedPatchName',
      patchId: 'selectedPatchId',
      maxDate: 'maxDate',
      minDate: 'minDate',
      predMaxDate: 'predMaxDate',
      predMinDate: 'predMinDate',
      realData: 'realData/data',
      predictionsData: 'predictionsData/data',
    })
  },
  methods: {
    togglePlotRepresentation() {
      this.singlePlot = !this.singlePlot;
    },
    toggleErrorMarginVisibility() {
      this.showErrorMargin = !this.showErrorMargin;
    },
    changeDates(date_range) {
      this.startDate = date_range.start_date;
      this.endDate = date_range.end_date;
    },
  },
}
</script>

<style scoped>
#infobox {
  padding-bottom: 2rem;
}

#multiple-choice-icon {
  height: 30px;
}

button {
  padding: 0.3rem;
  border: none;
  background: none;
}
</style>
