<template>
  <section>
    <div v-for="row in rows" :key="'row' + row.toString()" class="row">
      <div v-for="col in columns" :key="'col' + col.toString()" :class="bootstrap_column_class">
        <Plotly :data="get_data_by_index(row, col)"
                :layout="get_layout_by_index(row, col)" 
                :display-mode-bar="false"
        ></Plotly>
      </div>
    </div>
  </section>
</template>

<script>
import { Plotly } from 'vue-plotly';

import config from '../../../config.json';
import generic_tools from '../../generic_tools.js';


export default {
  components: {
    Plotly
  },
  props: [
    'dateArray', 
    'datePredictionsArray', 
    'showErrorMargin',
    'simulationSeparatorStyle',
    'realData',
    'predictionsData',
  ],
  data() {
    let data_object = {}
    let n = 0;
    config['infobox']['multi_plot_tab']['plots'].forEach(plot => {
      const name = 'plot_layout_' + n.toString();
      data_object[name] = {
        title: plot['title'],
        yaxis: {automargin: true, side: 'left', title: plot['y_axis_1']['name']},
        xaxis: {showgrid: false, zeroline: false, title: plot['x_axis']['name']},
        showlegend: false,
        plot_bgcolor: 'rgba(138, 191, 255, 0.2)',
      }
      if (plot['y_axis_2']) {
        data_object[name]['yaxis2'] = {
          automargin: true, side: 'right', title: plot['y_axis_2']['name'], overlaying: 'y'
        }
      }
      n++;
    });
    return {
      rows: config['infobox']['multi_plot_tab']['rows'],
      columns: config['infobox']['multi_plot_tab']['columns'],
      plots: config['infobox']['multi_plot_tab']['plots'].length,
      ...data_object,
    };
  },
  computed: {
    graph_data() {
      let multi_plot_data = {}
      const axis = ['y_axis_1', 'y_axis_2'];
      const axis_name = ['y1', 'y2'];
      let p=0;

      config['infobox']['multi_plot_tab']['plots'].forEach(plot => {
        let data = [];

        for (var i=0; i<2; i++) {
          if (! plot[axis[i]]) {
            continue;
          }
          
          plot[axis[i]]['columns'].forEach(column => {
            // REAL VALUE
            var obj = {
                name: config['real_data']['verbose_mapping'][column['name']],
                yaxis: axis_name[i],
                x: this.dateArray,
                y: this.realData[column['name']],
                mode: 'lines',
                type: 'scatter',
                legendgroup: config['real_data']['verbose_mapping'][column['name']],
                line: { color: generic_tools.build_rgb_code_from_list(column['color'])} 
            }
            data.push(obj);

            // REAL DATA ERROR
            if (this.showErrorMargin && column['error_min']) {
              obj = {
                name: config['real_data']['verbose_mapping'][column['name']],
                yaxis: axis_name[i],
                x: [].concat(
                  this.dateArray,
                  this.dateArray.slice().reverse()
                ),
                y: [].concat(
                  this.realData[column['error_max']],
                  this.realData[column['error_min']].slice().reverse()
                ),
                fill: "toself",
                mode: 'lines',
                type: 'scatter',
                fillcolor: generic_tools.build_rgb_code_from_list(column['color'], 0.5),
                line: { color: "transparent" },
                hoverinfo: "skip",
                showlegend: false,
                legendgroup: config['real_data']['verbose_mapping'][column['name']],
              };
              data.push(obj);
            }

            if (column['prediction_column']) {
              // SIMULATION
              obj = {
                name: config['predictions']['verbose_mapping'][column['prediction_column']],
                yaxis: axis_name[i],
                x: this.datePredictionsArray,
                y: this.predictionsData[column['prediction_column']],
                mode: 'lines',
                type: 'scatter',
                line: { dash: 'dashdot', color: generic_tools.build_rgb_code_from_list(column['color']) },
                legendgroup: config['real_data']['verbose_mapping'][column['name']],
              };
              data.push(obj);

              // SIMULATION ERROR
              if (this.showErrorMargin && column['prediction_error_min']) {
                obj = {
                  name: config['predictions']['verbose_mapping'][column['prediction_column']],
                  yaxis: axis_name[i],
                  x: [].concat(
                    this.datePredictionsArray,
                    this.datePredictionsArray.slice().reverse()
                  ),
                  y: [].concat(
                    this.predictionsData[column['prediction_error_max']],
                    this.predictionsData[column['prediction_error_min']].slice().reverse(),
                  ),
                  fill: "toself",
                  mode: 'lines',
                  type: 'scatter',
                  fillcolor: generic_tools.build_rgb_code_from_list(column['color'], 0.5),
                  line: { color: "transparent" },
                  hoverinfo: "skip",
                  showlegend: false,
                  legendgroup: config['real_data']['verbose_mapping'][column['name']],
                };
                data.push(obj);
              }
            }
          });
        }
        multi_plot_data['plot_data_' + p++] = data;
      })

      return multi_plot_data;
    },
    bootstrap_column_class() {
      return 'col-' + Math.floor(12 / this.columns).toString()
    }
  },
  methods: {
    get_data_by_index(row, column) {
      const index = (row-1) * this.columns + (column-1)
      return this.graph_data['plot_data_' + index.toString()]
    },
    get_layout_by_index(row, column) {
      const index = (row-1) * this.columns + (column-1)
      return this['plot_layout_' + index.toString()]
    }
  },
  watch: {
    simulationSeparatorStyle(value) {
      // WorkAround: This is needed in order to trigger the observers on Vue Plotly
      this.reported_cases_layout = {...this.reported_cases_layout, ...value}
      this.active_cases_layout = {...this.active_cases_layout, ...value}
      this.hospitalized_layout = {...this.hospitalized_layout, ...value}
      this.icu_layout = {...this.icu_layout, ...value}

    },
  },
}
</script>

<style scoped>
section {
  width: 100%;
  padding: 0;
  margin: 0;
}
</style>
