<template>
  <div>
    <header>
      <h1>{{ title }}</h1>
    </header>
    <div class="content">
      <h5>
        {{ text }}
      </h5>
    </div>
  </div>
</template>

<script>
import config from '../../../config.json';

export default {
  data() {
    return {
      title: config['infobox']['error_modal']['title'],
      text: config['infobox']['error_modal']['text'],
    }
  }
}
</script>
<style scoped>
div {
  width: 100%;
  margin: 0;
}

header {
  height: 5rem;
  background-color: #3e5f8a;
  color: white;
  padding: 1rem;  
  text-align: center;
}
.content {
  margin: 1rem;
}
</style>