<template>
  <div class="wrapper">
    <header>
      <div class="logo">
        <a href="https://www.bsc.es/">
          <img src="../../assets/logo.svg" height="70">
        </a>
      </div>
      <div class="title">
        <h1>{{ title }}</h1>
      </div>
    </header>
  </div>
</template>

<script>
import config from '../../../config.json';

export default {
  data() {
    return {
      title: config['layout']['title']['label'],
      logo: config['layout']['logo']['file'],
    }
  }
}
</script>
<style scoped>
.wrapper {
  width: 100%;
}

header {
  height: 5rem;
  background-color: #3e5f8a;
  color: white;
  display: flex;
  justify-content: right;
  align-items: center;
}

.logo {
  display: inline-block;
  position: absolute;
  right: 5rem;

}

.title {
  display: inline-block;
  margin-left: 5rem;
}


</style>