<template>
  <div id="app">
    <TheHeader></TheHeader>
    <MainMap></MainMap>
    <InfoBox v-if="anyPatchSelected"></InfoBox>
  </div>
</template>

<script>
import MainMap from './components/map/MainMap.vue';
import TheHeader from './components/layout/TheHeader.vue';
import InfoBox from './components/info/InfoBox.vue';


export default {
  components: {
    MainMap,
    TheHeader,
    InfoBox,
  },
  computed: {
    selectedPatch() {
      return this.$store.getters.selectedPatchId;
    },
    anyPatchSelected() {
      return !!this.selectedPatch;
    },
  },
  watch: {
    selectedPatch() {
      // Do not do nothing on blank patch
      if (! this.selectedPatch) {
        return
      }
      // Get real and prediction data
      let real_data_promise = this.$store.dispatch('realData/loadPatchData', {patchId: this.selectedPatch})
      let pred_data_promise = this.$store.dispatch('predictionsData/loadPatchData', {patchId: this.selectedPatch});

      Promise.all([real_data_promise, pred_data_promise]).then(() => {
        setTimeout(() => {
          document.getElementById('infobox').scrollIntoView({
            behavior: "smooth"
          })
        }, 100)
      })
    }
  },
  mounted() {
    this.$store.dispatch('setMinMaxDates')
  },
}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #f5f5f5 !important;
}
</style>
