<template>
  <div id="mainmap">
    <title-wrapper>
      <template v-slot:title>
        {{ map_title }}
      </template>
    </title-wrapper>

    <base-card>
      <section>
        <!-- MAP -->
        <Plotly 
          :data="map_data" 
          :layout="map_layout" 
          :display-mode-bar="false"
          ref="mainMapRef"
        ></Plotly>
      </section>
    </base-card>
  </div>
</template>

<script>
import { Plotly } from 'vue-plotly';
import GeojsonTools from './geojson_tools.js';
import config from '../../../config.json';

var geojson = null;

export default {
  components: {
    Plotly,
  },
  data() {
    return {
      map_title: config['map']['title'],
      map_data: null,
      map_layout: { 
        mapbox: { 
          center: { 
            lon: config['map']['coordinates']['longitude'],
            lat: config['map']['coordinates']['lattitude'],
          }, 
          zoom: config['map']['coordinates']['zoom'], 
          style: 'carto-positron', 
          layers: [] 
        }, 
        margin: {"r":0,"t":0,"l":0,"b":0}, 
        height: 500 
      },
    }
  },
  computed: {
    layer() {
      return this.$store.getters.selectedLayer;
    },
    patchId() {
      return this.$store.getters.selectedPatchId;
    },
  },
  methods: {
    selectPatch(id, name) {
      this.$store.dispatch({
        type: 'selectPatch',
        id: id,
        name: name,
      })
    },
  },
  watch: {
    patchId(value) {
      let new_layout = Object.assign({}, this.map_layout);

      if (!value) {
        // Null patch
        new_layout.mapbox.layers = [];

      } else {
        // Existing patch
        new_layout.mapbox.layers = [{
          color: "black",
          line: {"width": 2.5},
          opacity: 1,
          sourcetype: "geojson",
          type: "line",
          source: {
              type: "FeatureCollection",
              features: [geojson.features.find(y=>y.id == value)]
          },
        }];
      }
      this.map_layout = new_layout;
    },
  },
  created() {
    // Read geojson data
    import(
      '../../static/' + config['map']['geojson']['file']
    ).then(
      module => {
        return module.default;
      }
    ).then(gj => {
      geojson = gj;
      const locations = GeojsonTools.get_locations_from_geojson(geojson);
      const patch_names = GeojsonTools.get_names_from_geojson(geojson);

      this.map_data = [{ 
        type: "choroplethmapbox",
        locations: locations,
        geojson: geojson,
        customdata: patch_names.map(x=>[x]),
        hovertemplate: "%{customdata[0]}<extra></extra>",
        z: geojson.features.map(()=>0),
        showscale: false,
        marker: { opacity: 0.6 },
      }];
    })
  },
  mounted() {
    // Setup the map click actions
    this.$refs.mainMapRef.$on('click', object => {
      const id = object.points[0].location;
      const name = object.points[0].properties.rotulo || object.points[0].properties.NOMABS || object.points[0].properties.rs_name;
      this.selectPatch(id, name);
    });
  }
}
</script>

<style scoped>
#mainmap {
  margin-top: 1rem;
}
section {
  width: 100%;
  padding: 0;
  margin: 0;
}
</style>
